/* The styling here pertains to the opening screen mainly :)
 */
body {
  margin: 0;
  background-color: black;

  --screen-w: calc(100vw - 30px);
  --screen-h: calc(100vh - 30px);
}

.screen {
  background-color: black;
  box-sizing: border-box;
  margin: 15px auto;
  padding: 15px;
  max-width: 700px;
  width: var(--screen-w);
  height: var(--screen-h);
}

h1, h4 {
  text-align: center;
  font-family: Courier New;
}

button {
  background-color: rgba(209,34,62);
  border: none;
  outline: none;
  border-radius: 19px;
  box-shadow: 3px 3px 7px black;
  font-size: 24px;
  display: block;
  margin: 10px auto;
  min-height: 70px;
  width: 100%;
  font-family: Courier New;
}

button:hover, button:active {
  cursor: pointer;
}

button:hover {
  filter: brightness(1.2);
}

button:active {
  filter:brightness(0.8);
}

.highlight {
  background-color: green;
  color: white;
}

img {
  box-sizing: border-box;
  background-repeat: no-repeat;
  margin: 1px auto;
  padding: 1px;
  background-size: var(--screen-w) var(--screen-h);
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.flex-row {
  display: flex;
flex-direction: row;
justify-content: center;
}

.flex-col {
display: flex;
flex-direction: column;
justify-content: center;
}

a {
  flex-shrink: 1;
  display: block;
}

.hide {
  display: none;
  visibility: hidden;
}

h3, p {
  text-align: center;
  font-family: Courier New;
}

/* This crazy all for the slider  */
/* TODO make slider longer*/
.range-slider{
  padding: 15px 60px 7px 0;
  margin: 10px 0 0 0;
  /* position: relative; */
  display: flex;
  flex-direction: row;
}
.range-slider input[type="range"]{
  background: linear-gradient(178deg,transparent 49%,rgba(0,0,0,0.1) 51%);
  width: 100%;
  height: 24px;
  outline: none;
  -webkit-appearance: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
    /*-webkit-slider-thumb from https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-slider-thumb */
  background: rgba(209,34,62);
  width: 23px;
  height: 23px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.15s ease-in-out 0s;
  -webkit-appearance: none;
  appearance: none;
  clip-path: polygon(100% 0, 100% 65%, 50% 100%, 0% 65%, 0 0);
}
.range-slider input[type="range"]::-webkit-slider-thumb:hover,
.range-slider input[type="range"]:active::-webkit-slider-thumb{
  box-shadow: 0 0 8px -3px #000 inset;
}
.range-slider input[type="range"]::-moz-range-thumb{
    /*-moz-range-thumb{from https://developer.mozilla.org/en-US/docs/Web/CSS/::-moz-range-thumb */
  background: rgba(209,34,62);
  width: 23px;
  height: 23px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out 0s;
  clip-path: polygon(100% 0, 100% 65%, 50% 100%, 0% 65%, 0 0);
}
.range-slider input[type="range"]::-moz-range-thumb:hover,
.range-slider input[type="range"]:active::-moz-range-thumb{
  box-shadow: 0 0 8px -3px #000 inset;
}
.range-value{
  color: #fff;
  background: rgba(209,34,62);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: 45px;
  padding: 3px 0;
  position: relative;
  bottom: 8px;
  right: 5px;
  height: 20px;
}
::-moz-range-track{
  background: transparent;
  border: 0;
}
/* Slider Finished */

/* game */

#backgroundLayer {
  background: url("https://media-hosting.imagekit.io/2fbc4db29a494b48/storeimg%20(1).jpg?Expires=1841157820&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=iB8mMykhDi~P0Ft7jlPUZQF4hW5i8AGNK7B3gVpYYvqXl5LMFScVAkXurc2lZeQDZ7PMcJxAVgUGYathbwL-5Kw0PmrSyoDCGVLgcXWwMgs1MJ6jYr1Io3QtLVnUjsBTXL33Wz8kY88JMAdOH7WTrt9zk1A4M5NJmUzrwEkKpn2cK4tcTfnfVnicaMCUcfsRn9f1XCBUk1zkLQ4-Xmj0sABSs7e~IBedb1tRF71EuSktilBYWy4hIPV1KRPTafnBThciQajMK86QiJiN6NJwz5P3n1oOJQ3hBuHWUEOZhONt-11dVYALsQ6x972EQygHKFB4nnaa7WRMeYsV3eToKg__");
  /*backgroundIMG from game Don't Give Up (https://gamejolt.com/games/dontgiveup/354865 )*/
  box-sizing: border-box;
  background-repeat: no-repeat;
  margin: 1px auto;
  padding: 1px;
  /*max-width: 700px;*/
  /*background-size: var(--screen-w) var(--screen-h);*/
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#gameScreen {
  position: relative;
}

.gameLayer {
  position: absolute;
  top: 0;
  left: 0;
}